<html>
<head>
    <title>Places you've been</title>
</head>
<body>
    <h1>Wow look at where you went</h1>
    <p>{{ new_place.getCity }}</p>
    <p>{{ new_place.getFood }}</p>
    <p>{{ new_place.getDestination }}</p>
    <p><a href='/home'>View your travel list.</a></p>

</body>
</html>
